html,body{
    position: relative;
    height: 100%;
}
body{
    margin:10px;
    padding-top:65px;
}

#login-form{
    display:none;
}
#logout-button{
    display:none;
}
#data-container{
    display:none;
    cursor:pointer;

}
#form-container{
    display:none;
}
#table-container{
    max-height:300px;
    overflow:scroll;
}
#data-status{
    display:inline-block;
    padding:5px;
}
#error-div{
    display:none;
}
#form-container .form-control{
    margin:3px;
}